.features-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.features-description-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-text-color);
}

.features-description {
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .features {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .features-list-item {
    width: 354px;
  }

  .features-description {
    margin-bottom: 0px;
  }

  .features-description-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features-list-item {
    width: 270px;
  }
}
