.team {
  background-color: #f5f4fa;
}

.team-member {
  margin-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-photo {
  max-width: 100%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.team-member-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 24px;
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-list-link {
  display: flex;
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--primary-icon-color);
  transition: background-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team-member {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .social-list {
    padding-bottom: 30px;
  }

  .team-list {
    flex-wrap: wrap;
  }
}
